@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');

body{
  background-color: hsl(273, 75%, 66%);
  background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Kumbh Sans' ;
  font-size: 12px;
  padding: 100px;
}

.content{
  background-color: white;
 
  border-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-self: center;
}

.list{
  padding-top: 50px;
  text-align: left;
}

h1{
  font-weight: 700;
}

.accordion {
  /* background-color: white; */
  color: #444;
  cursor: pointer;
  /* padding: 18px; */
  /* width: 300px; */
  /* border: none; */
  text-align: left;
  /* outline: none; */
  /* font-size: 12px; */
  /* transition: 0.4s; */
  grid-column: 1/2;
  color: hsl(238, 29%, 16%);
  line-height: 3;
  /* padding-left: 0; */
  font-weight: 400;
}


hr{
  color: hsl(240, 5%, 91%);
  max-width: 350px;
  margin-left: 0;
}

.dropdown-icon{
  content: url(./images/icon-arrow-down.svg);
  /* position: relative; */
  float: right;
}

/* .accordion:active{
  font-weight: 700;
} */

.accordion:hover {
  color: hsl(14, 88%, 65%); 
}


.panel {
  /* padding: 0 18px; */
  /* background-color: white; */
  overflow: hidden;
  /* text-align: center; */
  
  font-weight: 300;
  
  display: none;
}

p{
  color: hsl(240, 6%, 50%);
  font-size: 12px;
  max-width: 350px;
  font-weight: 300;
}

.pictures{
  margin-top: 80px;
  grid-column: 1/2;
  background-image: url(./images/bg-pattern-desktop.svg);
}

img.illustration-mobile {
  display: none;
}
