@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

body{
  font-family: Karla ;
  font-size: 16px;
  /* padding: 50px; */
  /* grid-template-rows: 1fr auto; */
}

.content{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.top-div{
  padding: 20px;
  grid-row: 1/2;
  grid-column: 1/span 2;
}

.header{
  font-weight: 400;
  color: hsl(179, 62%, 43%);
  font-size: 1.5rem;
}

.second-header{
  font-weight: 400;
  font-size: 1.2rem;
  color: hsl(71, 73%, 54%);
}

.paragraph{
  font-weight: 400;
  color:hsl(218, 22%, 67%) ;
  line-height: 1.6;
}

/* .bottom-div{
  display: grid;
  grid-template-columns: 1fr 1fr;
} */

.left-div{
  background-color:hsl(179, 62%, 43%) ;
  padding: 20px;
  padding-left: 40px;
  grid-column: 1/2;
  grid-row: 2/3;
  width: 100%;
}

.ms{
  font-weight: 400;
  font-size: 1.2rem;
  color: hsl(204, 43%, 93%) ;
}

/* .price{
  font-weight: 700;
  font-size: 2rem;
  color: hsl(204, 43%, 93%)
} */


span b{
  font-size: 2rem;
  color: hsl(204, 43%, 93%) ;
  font-weight: 700;
  padding-right: 6px;

}

span{
  color:hsl(218, 22%, 67%) ;
  font-weight: 700;
}

.txt{
  color: hsl(204, 43%, 93%) ;
}

.btn{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 100px;
  padding-left: 100px;
  background-color: hsl(71, 73%, 54%) ;
  color:  hsl(204, 43%, 93%);
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 5px grey;
}

.right-div{
  background-color:hsl(177, 39%, 57%) ;
  padding: 20px;
  padding-top: 5px;
  grid-column: 2/3;
  grid-row: 2/3;
  width: 100%;
}

.wu{
  color: hsl(204, 43%, 93%) ;
  font-size: 1.5rem;
  padding-left: 20px;
}

ul{
  list-style-type: none;
  padding-left: 20px;
  color: hsl(204, 43%, 93%) ;
  font-weight: 400;
}

/* li:not(:last-child) {
  margin-bottom: 1px;
} */

@media all and (max-width: 650px) {
  .content{
    display: flex;
    flex-wrap: wrap;
  }

  .left-div{
    justify-content: center;
    padding: 1rem;
    padding-left: 2rem;
  }
}